{% extends "base.html" %}
{% block title %}Tips{% endblock %}
{% block content %}
  <!-- Content
  ============================ -->
  <div id="content" role="main">
    <!-- Docs Content
	============================ -->
    <div class="docs_intro">
      <div class="container">

        <!-- Getting Started
		============================ -->
        <section id="idocs_start">
        <h1>Digital Scavenger Hunt</h1>
        <p class="lead">Thank you so much for joining us for a digital scavenger hunt!</p>
		<hr>
		<h3>The purpose of the game is to find and upload some kind of photo or screenshot that meets the criteria of a given prompt in the allotted timeframe.</h3>
            <p>You may not already know the answers to the prompts, so go ahead and head to <a href="www.google.com">Google</a> to do some research and find a representative photo.</p>
        <p class="alert alert-info">If you have any questions, feel free to let us know via WebEx chat.</p>
        </section>

		<hr class="divider">

        <!-- How to Play
		============================ -->
        <section id="docs_play">
          <h2>How to Play</h2>
          <p class="lead">Follow the steps below to get started:</p>
          <ol>
            <li>Go to the  <a href="/prompts">Prompts</a> page and look through the prompts listed there.</li>
            <li>The idea of the game is to find a photo that represents the prompt, so once you've identified the prompt you'd like to find, go to <a href="www.google.com">Google</a> and do some sleuthing.</li>
            <li>Once you've found a photo you like, save or screenshot the image and then head back to the Prompts page.</li>
              <li>On the Prompts page, click to <i>Upload a Photo</i>.</li>
            <li>Wait for a confirmation that the photo has been successfully uploaded, then head to the <a href="/">Home</a> page to see it live.</li>
          </ol>
        </section>

		<hr class="divider">

        <!-- Screenshots
		============================ -->
        <section id="docs_screenshot">
          <h2>How to Take Screenshots: A Refresher</h2>
          <p>A refresher course for our PC and Mac Users:</p>

          <h3>PC</h3>
            <h4>Snipping Tool</h4>
            <a href="https://support.microsoft.com/en-us/windows/open-snipping-tool-and-take-a-screenshot-a35ac9ff-4a58-24c9-3253-f12bac9f9d44">Read more here</a>
            <ol>
                <li>To open the Snipping Tool, select Start, enter snipping tool, then select it from the results.</li>
                <li>Select New to take a screenshot.</li>
                <li>Rectangular mode is selected by default. You can change the shape of your snip by choosing one of the following options in the toolbar: Rectangular mode, Window mode, Full-screen mode, and Free-form mode.</li>
                <li>The screenshot is automatically copied to your clipboard. A notification also appears once you're finished taking a screenshot, select it for more editing options..</li>
            </ol>
           <h3>Mac</h3>
            <h4>Snipping Tool</h4>
            <a href="https://support.apple.com/guide/mac-help/take-a-screenshot-mh26782/mac">Read more here</a>
            <ol>
                <li>Press Shift-Command-4, then move the crosshair pointer to where you want to start the screenshot.</li>
                <li>Press the mouse or trackpad button, drag over the area you want to capture, then release the mouse or trackpad button. </li>
                <li>The screenshot should be saved to your default location, which is usually Desktop or Documents/Downloads.</li>
                <li>Screenshots are saved as .png files. Filenames begin with “Screenshot” and include the date and time.</li>
            </ol>
        </section>

		<hr class="divider">

        <!-- Tips & Tricks
		============================ -->
        <section id="docs_tips">
          <h2>Tips for Playing the Game</h2>
          <p>Take em or leave em</p>

            <ol>
                <li>Create a folder for your screenshots to dump to on your local machine, this will make it easier to upload from the same folder.</li>
                <li>Open multiple prompts in different tabs for Uploading a prompt and as you find them, just go back to your tab.</li>
                <li>Each prompt is worth different amounts of points so the bottom or the top prompts are not necessarily worst the most or least.</li>
                <li>While this game is optimized for desktop viewing, you can play on your phone. If so, be sure to rotate sideways to landscape for the best experience.</li>
            </ol>
        </section>

		<hr class="divider">

    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

  </div>
  <!-- Content end -->



{% endblock %}