{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
   <main role="main">
     <!-- Top players and top Blogs -->
        <section class="container">
            <div class="top-players">
                <h2 class="section-title">Top Players</h2>
                <div class="players">
                    {% for player in leaderboard %}
                    <!-- .player*6>img[src="./images/players/player-$.png"]+h3{Top Player $} -->
                    <div class="player">
                        <img src="{{ url_for('static', path=player['image_url']) }}" alt="">
                        <h3 class="player-name">{{ player['name'] }}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Photos
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                    {% for listicle in split_photos %}
                    <div class="row">
                        {% for item in listicle %}
                      <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                        <a class="thumbnail" href="{{ item['url'] }}">
                         <img class="img-responsive"  src="{{ item['url'] }}" alt="{{ item['item_name'] }}">
                        </a>
                      </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
            </div>
        </div>
     </div>
   </main>
 {% endblock %}