{% extends "base.html" %}
{% block title %}Prompts{% endblock %}
{% block content %}
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

   <main role="main">
        <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Scavenger Hunt Prompts
                </button>
              </h5>
            </div>
             <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table" id="sortTable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Category</th>
                          <th scope="col">Prompt</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in prompts %}
                        <tr>
                          <th scope="row">{{ item['id'] }}</th>
                          <td>{{ item['category'] }}</td>
                          <td>{{ item['prompt'] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
   <script>
     $('#sortTable').DataTable();
    </script>
   </main>
        {% endblock %}