{% extends "base.html" %}
{% block title %}Upload Photo{% endblock %}
{% block content %}

<script type="text/javascript">
    function previewFile() {
        const preview = document.querySelector('img');
        var file = document.getElementById('fileInput').files[0];
        const reader = new FileReader();
        reader.addEventListener("load", function() {
            preview.src = reader.result; // show image in <img> tag
        }, false);
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function renameFile(originalFile, newName) {
        return new File([originalFile], newName, {
            type: originalFile.type,
            lastModified: originalFile.lastModified,
        });
    }

    function uploadFile() {
        var file = document.getElementById('fileInput').files[0];
        var ogFilename = document.getElementById('fileInput').files.item(0).name;
        var email = document.getElementById('inputEmail').value;
        var prompt = document.getElementById('inputPrompt').value;
        var filename = prompt.split("-")[0] + "_" + email.split("@")[0] + "_" + ogFilename;
        console.log(filename);
        var newFile = renameFile(file, filename);
        if (newFile) {
            var formData = new FormData();
            formData.append('file', newFile);
            fetch('/upload', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("serverMsg").innerHTML = data.message;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
</script>
<div class="container">
<form>
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com" required>
    <label for="inputPrompt">Prompt select</label>
    <select class="form-control" id="inputPrompt" required>
      {% for item in prompts %}
        <option>{{ item['id'] + '-' + item['short_prompt']}}</option>
        {% endfor %}
    </select>
    <label for="fileInput">Example file input</label>
    <input type="file" id="fileInput" onchange="previewFile()"><br>
    <input type="button" value="Upload Image" onclick="uploadFile()">
    <p id="serverMsg"></p>
    <img height="200">
    <img src="" height="200" alt="Image preview...">
</form>
</div>

 {% endblock %}